In [1]:
from investment_predictions import DataScraper, DataParser
from pathlib import Path
import pandas as pd
import time
import openpyxl


key_path = Path().home()/'desktop'/'FinancialModellingPrep_API.txt'
with open(key_path) as file:
    api_key = file.read()

In [2]:
a = DataScraper('AAPL', api_key)

[*********************100%***********************]  1 of 1 completed

In [5]:
# type(a.data_dictionary['price'])
isinstance(a.data_dictionary['price'], pd.DataFrame)

True

In [7]:
type(pd.read_parquet(Path('investment_predictions')/'data'/
                    'snp500_trading_data_1970_to_2023.parquet').index[0])

pandas._libs.tslibs.timestamps.Timestamp

In [3]:
b = DataParser(a.data_dictionary)

In [5]:
b.data_dictionary['price']

,Open,High,Low,Close,Adj Close,Volume,date
Date,,,,,,,
1980-12-12 00:00:00-05:00,0.128348,0.128906,0.128348,0.128348,0.099722,469033600,1980-12-12
1980-12-15 00:00:00-05:00,0.122210,0.122210,0.121652,0.121652,0.094519,175884800,1980-12-15
1980-12-16 00:00:00-05:00,0.113281,0.113281,0.112723,0.112723,0.087582,105728000,1980-12-16
1980-12-17 00:00:00-05:00,0.115513,0.116071,0.115513,0.115513,0.089749,86441600,1980-12-17
1980-12-18 00:00:00-05:00,0.118862,0.119420,0.118862,0.118862,0.092351,73449600,1980-12-18
...,...,...,...,...,...,...,...
2023-03-13 00:00:00-04:00,147.809998,153.139999,147.699997,150.470001,150.470001,84457100,2023-03-13
2023-03-14 00:00:00-04:00,151.279999,153.399994,150.100006,152.589996,152.589996,73695900,2023-03-14
2023-03-15 00:00:00-04:00,151.190002,153.250000,149.919998,152.990005,152.990005,77167900,2023-03-15
2023-03-16 00:00:00-04:00,152.160004,156.460007,151.639999,155.850006,155.850006,76161100,2023-03-16
2023-03-17 00:00:00-04:00,156.080002,156.740005,154.279999,155.000000,155.000000,98862500,2023-03-17

In [13]:
b.is_.eps

AAPL-Q1-2022    1.890000
AAPL-Q4-2022    1.290000
AAPL-Q3-2022    1.200000
AAPL-Q2-2022    1.540000
AAPL-Q1-2021    2.110000
                  ...
AAPL-Q4-1986    0.000000
AAPL-Q3-1986    0.002321
AAPL-Q2-1986    0.002321
AAPL-Q1-1985    0.004107
AAPL-Q4-1985    0.000000
Name: eps, Length: 150, dtype: float64

In [8]:
b.is_.index.equals(b.ratios.index.equals(b.metrics.index))

False

In [39]:
diffs = []
import datetime as dt
for i, item in enumerate(b.metrics.date[1:]):
    ly, lm, ld = [int(x) for x in b.ratios.date[i].split('-')]
    last_date = dt.datetime(ly, lm, ld)
    y, m, d = [int(x) for x in item.split('-')]
    date_now = dt.datetime(y, m, d)
    diffs.append(date_now-last_date)

In [40]:
diffs

[datetime.timedelta(days=-92),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-91),
 datetime.timedelta(days=-90),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-91),
 datetime.timedelta(days=-90),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-91),
 datetime.timedelta(days=-91),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-91),
 datetime.timedelta(days=-90),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-91),
 datetime.timedelta(days=-90),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-91),
 datetime.timedelta(days=-90),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-91),
 datetime.timedelta(days=-91),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-91),
 datetime.timedelta(days=-90),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-91),
 datetime.timedelta(days=-90),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-91),
 datetime.timedelta(days=-90),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-91),
 datetime.timedelta(days=-91),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-91),
 datetime.timedelta(days=-90),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-91),
 datetime.timedelta(days=-90),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-91),
 datetime.timedelta(days=-90),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-91),
 datetime.timedelta(days=-91),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-91),
 datetime.timedelta(days=-90),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-91),
 datetime.timedelta(days=-90),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-91),
 datetime.timedelta(days=-90),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-91),
 datetime.timedelta(days=-91),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-91),
 datetime.timedelta(days=-90),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-91),
 datetime.timedelta(days=-90),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-91),
 datetime.timedelta(days=-90),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-91),
 datetime.timedelta(days=-91),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-91),
 datetime.timedelta(days=-90),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-91),
 datetime.timedelta(days=-90),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-91),
 datetime.timedelta(days=-90),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-91),
 datetime.timedelta(days=-91),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-91),
 datetime.timedelta(days=-90),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-91),
 datetime.timedelta(days=-90),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-91),
 datetime.timedelta(days=-90),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-91),
 datetime.timedelta(days=-91),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-91),
 datetime.timedelta(days=-90),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-91),
 datetime.timedelta(days=-90),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-91),
 datetime.timedelta(days=-90),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-91),
 datetime.timedelta(days=-91),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-91),
 datetime.timedelta(days=-90),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-91),
 datetime.timedelta(days=-90),
 datetime.timedelta(days=-92)]

In [7]:
help(pd.Index.intersection)

Help on function intersection in module pandas.core.indexes.base:

intersection(self, other, sort=False)
    Form the intersection of two Index objects.

    This returns a new Index with elements common to the index and `other`.

    Parameters
    ----------
    other : Index or array-like
    sort : False or None, default False
        Whether to sort the resulting index.

        * False : do not sort the result.
        * None : sort the result, except when `self` and `other` are equal
          or when the values cannot be compared.

    Returns
    -------
    intersection : Index

    Examples
    --------
    >>> idx1 = pd.Index([1, 2, 3, 4])
    >>> idx2 = pd.Index([3, 4, 5, 6])
    >>> idx1.intersection(idx2)
    Int64Index([3, 4], dtype='int64')

In [7]:
type(b.data_dictionary['price'][0].index[0])

pandas._libs.tslibs.timestamps.Timestamp

In [9]:
from pandas._libs.tslibs.timestamps import Timestamp

In [10]:
Timestamp("2020-10-01")

Timestamp('2020-10-01 00:00:00')

In [8]:
help(pd.concat)

Help on function concat in module pandas.core.reshape.concat:

concat(objs: 'Iterable[NDFrame] | Mapping[HashableT, NDFrame]', *, axis: 'Axis' = 0, join: 'str' = 'outer', ignore_index: 'bool' = False, keys=None, levels=None, names=None, verify_integrity: 'bool' = False, sort: 'bool' = False, copy: 'bool' = True) -> 'DataFrame | Series'
    Concatenate pandas objects along a particular axis.

    Allows optional set logic along the other axes.

    Can also add a layer of hierarchical indexing on the concatenation axis,
    which may be useful if the labels are the same (or overlapping) on
    the passed axis number.

    Parameters
    ----------
    objs : a sequence or mapping of Series or DataFrame objects
        If a mapping is passed, the sorted keys will be used as the `keys`
        argument, unless it is passed, in which case the values will be
        selected (see below). Any None objects will be dropped silently unless
        they are all None in which case a ValueError will be raised.
    axis : {0/'index', 1/'columns'}, default 0
        The axis to concatenate along.
    join : {'inner', 'outer'}, default 'outer'
        How to handle indexes on other axis (or axes).
    ignore_index : bool, default False
        If True, do not use the index values along the concatenation axis. The
        resulting axis will be labeled 0, ..., n - 1. This is useful if you are
        concatenating objects where the concatenation axis does not have
        meaningful indexing information. Note the index values on the other
        axes are still respected in the join.
    keys : sequence, default None
        If multiple levels passed, should contain tuples. Construct
        hierarchical index using the passed keys as the outermost level.
    levels : list of sequences, default None
        Specific levels (unique values) to use for constructing a
        MultiIndex. Otherwise they will be inferred from the keys.
    names : list, default None
        Names for the levels in the resulting hierarchical index.
    verify_integrity : bool, default False
        Check whether the new concatenated axis contains duplicates. This can
        be very expensive relative to the actual data concatenation.
    sort : bool, default False
        Sort non-concatenation axis if it is not already aligned when `join`
        is 'outer'.
        This has no effect when ``join='inner'``, which already preserves
        the order of the non-concatenation axis.

        .. versionchanged:: 1.0.0

           Changed to not sort by default.

    copy : bool, default True
        If False, do not copy data unnecessarily.

    Returns
    -------
    object, type of objs
        When concatenating all ``Series`` along the index (axis=0), a
        ``Series`` is returned. When ``objs`` contains at least one
        ``DataFrame``, a ``DataFrame`` is returned. When concatenating along
        the columns (axis=1), a ``DataFrame`` is returned.

    See Also
    --------
    DataFrame.join : Join DataFrames using indexes.
    DataFrame.merge : Merge DataFrames by indexes or columns.

    Notes
    -----
    The keys, levels, and names arguments are all optional.

    A walkthrough of how this method fits in with other tools for combining
    pandas objects can be found `here
    <https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html>`__.

    It is not recommended to build DataFrames by adding single rows in a
    for loop. Build a list of rows and make a DataFrame in a single concat.

    Examples
    --------
    Combine two ``Series``.

    >>> s1 = pd.Series(['a', 'b'])
    >>> s2 = pd.Series(['c', 'd'])
    >>> pd.concat([s1, s2])
    0    a
    1    b
    0    c
    1    d
    dtype: object

    Clear the existing index and reset it in the result
    by setting the ``ignore_index`` option to ``True``.

    >>> pd.concat([s1, s2], ignore_index=True)
    0    a
    1    b
    2    c
    3    d
    dtype: object

    Add a hierarchical index at the outermost level of
    the data with the ``keys`` option.

    >>> pd.concat([s1, s2], keys=['s1', 's2'])
    s1  0    a
        1    b
    s2  0    c
        1    d
    dtype: object

    Label the index keys you create with the ``names`` option.

    >>> pd.concat([s1, s2], keys=['s1', 's2'],
    ...           names=['Series name', 'Row ID'])
    Series name  Row ID
    s1           0         a
                 1         b
    s2           0         c
                 1         d
    dtype: object

    Combine two ``DataFrame`` objects with identical columns.

    >>> df1 = pd.DataFrame([['a', 1], ['b', 2]],
    ...                    columns=['letter', 'number'])
    >>> df1
      letter  number
    0      a       1
    1      b       2
    >>> df2 = pd.DataFrame([['c', 3], ['d', 4]],
    ...                    columns=['letter', 'number'])
    >>> df2
      letter  number
    0      c       3
    1      d       4
    >>> pd.concat([df1, df2])
      letter  number
    0      a       1
    1      b       2
    0      c       3
    1      d       4

    Combine ``DataFrame`` objects with overlapping columns
    and return everything. Columns outside the intersection will
    be filled with ``NaN`` values.

    >>> df3 = pd.DataFrame([['c', 3, 'cat'], ['d', 4, 'dog']],
    ...                    columns=['letter', 'number', 'animal'])
    >>> df3
      letter  number animal
    0      c       3    cat
    1      d       4    dog
    >>> pd.concat([df1, df3], sort=False)
      letter  number animal
    0      a       1    NaN
    1      b       2    NaN
    0      c       3    cat
    1      d       4    dog

    Combine ``DataFrame`` objects with overlapping columns
    and return only those that are shared by passing ``inner`` to
    the ``join`` keyword argument.

    >>> pd.concat([df1, df3], join="inner")
      letter  number
    0      a       1
    1      b       2
    0      c       3
    1      d       4

    Combine ``DataFrame`` objects horizontally along the x axis by
    passing in ``axis=1``.

    >>> df4 = pd.DataFrame([['bird', 'polly'], ['monkey', 'george']],
    ...                    columns=['animal', 'name'])
    >>> pd.concat([df1, df4], axis=1)
      letter  number  animal    name
    0      a       1    bird   polly
    1      b       2  monkey  george

    Prevent the result from including duplicate index values with the
    ``verify_integrity`` option.

    >>> df5 = pd.DataFrame([1], index=['a'])
    >>> df5
       0
    a  1
    >>> df6 = pd.DataFrame([2], index=['a'])
    >>> df6
       0
    a  2
    >>> pd.concat([df5, df6], verify_integrity=True)
    Traceback (most recent call last):
        ...
    ValueError: Indexes have overlapping values: ['a']

    Append a single row to the end of a ``DataFrame`` object.

    >>> df7 = pd.DataFrame({'a': 1, 'b': 2}, index=[0])
    >>> df7
        a   b
    0   1   2
    >>> new_row = pd.Series({'a': 3, 'b': 4})
    >>> new_row
    a    3
    b    4
    dtype: int64
    >>> pd.concat([df7, new_row.to_frame().T], ignore_index=True)
        a   b
    0   1   2
    1   3   4