In [1]:
from investment_predictions import DataScraper, DataParser
from pathlib import Path
import pandas as pd
import time


key_path = Path().home()/'desktop'/'FinancialModellingPrep_API.txt'
with open(key_path) as file:
    api_key = file.read()

In [2]:
a = DataScraper('AAPL', api_key)

[*********************100%***********************]  1 of 1 completed

In [3]:
b = DataParser(a.data_dictionary)

In [4]:
b.ratios[['PE_high', 'PE_low', 'PE_avg','priceEarningsRatio']]

                PE_high     PE_low     PE_avg  priceEarningsRatio
AAPL-Q1-2022  20.833333  16.649471  18.903586           17.208993
AAPL-Q4-2022  34.137596  25.924419  30.352006           29.094281
AAPL-Q3-2022  37.418750  26.883332  32.060215           29.441966
AAPL-Q2-2022  29.698052  24.366884  27.349954           28.430950
AAPL-Q1-2021  21.579384  16.382702  18.414222           20.860043
...                 ...        ...        ...                 ...
AAPL-Q4-1986        inf        inf        inf            0.000000
AAPL-Q3-1986  18.813551  12.622576  15.923731            0.000000
AAPL-Q2-1986  14.245369  10.458639  11.750000            0.000000
AAPL-Q1-1985   6.216277   4.076211   5.162684            0.000000
AAPL-Q4-1985        inf        inf        inf            0.000000

[150 rows x 4 columns]

In [13]:
b.is_.eps

AAPL-Q1-2022    1.890000
AAPL-Q4-2022    1.290000
AAPL-Q3-2022    1.200000
AAPL-Q2-2022    1.540000
AAPL-Q1-2021    2.110000
                  ...
AAPL-Q4-1986    0.000000
AAPL-Q3-1986    0.002321
AAPL-Q2-1986    0.002321
AAPL-Q1-1985    0.004107
AAPL-Q4-1985    0.000000
Name: eps, Length: 150, dtype: float64

In [8]:
b.is_.index.equals(b.ratios.index.equals(b.metrics.index))

False

In [39]:
diffs = []
import datetime as dt
for i, item in enumerate(b.metrics.date[1:]):
    ly, lm, ld = [int(x) for x in b.ratios.date[i].split('-')]
    last_date = dt.datetime(ly, lm, ld)
    y, m, d = [int(x) for x in item.split('-')]
    date_now = dt.datetime(y, m, d)
    diffs.append(date_now-last_date)

In [40]:
diffs

[datetime.timedelta(days=-92),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-91),
 datetime.timedelta(days=-90),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-91),
 datetime.timedelta(days=-90),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-91),
 datetime.timedelta(days=-91),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-91),
 datetime.timedelta(days=-90),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-91),
 datetime.timedelta(days=-90),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-91),
 datetime.timedelta(days=-90),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-91),
 datetime.timedelta(days=-91),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-91),
 datetime.timedelta(days=-90),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-91),
 datetime.timedelta(days=-90),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-91),
 datetime.timedelta(days=-90),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-91),
 datetime.timedelta(days=-91),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-91),
 datetime.timedelta(days=-90),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-91),
 datetime.timedelta(days=-90),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-91),
 datetime.timedelta(days=-90),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-91),
 datetime.timedelta(days=-91),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-91),
 datetime.timedelta(days=-90),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-91),
 datetime.timedelta(days=-90),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-91),
 datetime.timedelta(days=-90),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-91),
 datetime.timedelta(days=-91),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-91),
 datetime.timedelta(days=-90),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-91),
 datetime.timedelta(days=-90),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-91),
 datetime.timedelta(days=-90),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-91),
 datetime.timedelta(days=-91),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-91),
 datetime.timedelta(days=-90),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-91),
 datetime.timedelta(days=-90),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-91),
 datetime.timedelta(days=-90),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-91),
 datetime.timedelta(days=-91),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-91),
 datetime.timedelta(days=-90),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-91),
 datetime.timedelta(days=-90),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-91),
 datetime.timedelta(days=-90),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-91),
 datetime.timedelta(days=-91),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-91),
 datetime.timedelta(days=-90),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-91),
 datetime.timedelta(days=-90),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-91),
 datetime.timedelta(days=-90),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-91),
 datetime.timedelta(days=-91),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-91),
 datetime.timedelta(days=-90),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-92),
 datetime.timedelta(days=-91),
 datetime.timedelta(days=-90),
 datetime.timedelta(days=-92)]

In [7]:
help(pd.Index.intersection)

Help on function intersection in module pandas.core.indexes.base:

intersection(self, other, sort=False)
    Form the intersection of two Index objects.

    This returns a new Index with elements common to the index and `other`.

    Parameters
    ----------
    other : Index or array-like
    sort : False or None, default False
        Whether to sort the resulting index.

        * False : do not sort the result.
        * None : sort the result, except when `self` and `other` are equal
          or when the values cannot be compared.

    Returns
    -------
    intersection : Index

    Examples
    --------
    >>> idx1 = pd.Index([1, 2, 3, 4])
    >>> idx2 = pd.Index([3, 4, 5, 6])
    >>> idx1.intersection(idx2)
    Int64Index([3, 4], dtype='int64')

In [7]:
type(b.data_dictionary['price'][0].index[0])

pandas._libs.tslibs.timestamps.Timestamp

In [9]:
from pandas._libs.tslibs.timestamps import Timestamp

In [10]:
Timestamp("2020-10-01")

Timestamp('2020-10-01 00:00:00')