In [21]:
from investment_predictions import DataScraper, DataParser
from pathlib import Path
import pandas as pd
import time


key_path = Path().home()/'desktop'/'FinancialModellingPrep_API.txt'
with open(key_path) as file:
    api_key = file.read()

In [2]:
a = DataScraper('AAPL', api_key)

[*********************100%***********************]  1 of 1 completed

In [29]:
b = DataParser(a.data_dictionary)
b.data_dictionary.get('price')[0]

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1980-12-12 00:00:00-05:00,0.128348,0.128906,0.128348,0.128348,0.099722,469033600
1980-12-15 00:00:00-05:00,0.122210,0.122210,0.121652,0.121652,0.094519,175884800
1980-12-16 00:00:00-05:00,0.113281,0.113281,0.112723,0.112723,0.087582,105728000
1980-12-17 00:00:00-05:00,0.115513,0.116071,0.115513,0.115513,0.089749,86441600
1980-12-18 00:00:00-05:00,0.118862,0.119420,0.118862,0.118862,0.092351,73449600
...,...,...,...,...,...,...
2023-03-09 00:00:00-05:00,153.559998,154.539993,150.229996,150.589996,150.589996,53833600
2023-03-10 00:00:00-05:00,150.210007,150.940002,147.610001,148.500000,148.500000,68524400
2023-03-13 00:00:00-04:00,147.809998,153.139999,147.699997,150.470001,150.470001,84457100
2023-03-14 00:00:00-04:00,151.279999,153.399994,150.100006,152.589996,152.589996,73695900
2023-03-15 00:00:00-04:00,151.190002,153.244995,149.919998,152.990005,152.990005,75873813

In [5]:
pd.DataFrame(a.data_dictionary['info'])

,symbol,price,beta,volAvg,mktCap,lastDiv,range,changes,companyName,currency,...,zip,dcfDiff,dcf,image,ipoDate,defaultImage,isEtf,isActivelyTrading,isAdr,isFund
0,AAPL,152.99,1.297088,72077740,2420592446730,0.92,124.17-179.61,0.4,Apple Inc.,USD,...,95014,4.15176,150.082,https://financialmodelingprep.com/image-stock/...,1980-12-12,False,False,True,False,False

In [20]:
d = a.data_dictionary
for key in d:
    pd.DataFrame(d.get(key))
    print(key)
    print(pd.DataFrame(d[key]))
    time.sleep(2)

info
  symbol   price      beta    volAvg         mktCap  lastDiv          range  \
0   AAPL  152.99  1.297088  72077740  2420592446730     0.92  124.17-179.61

   changes companyName currency  ...    zip  dcfDiff      dcf  \
0      0.4  Apple Inc.      USD  ...  95014  4.15176  150.082

                                               image     ipoDate defaultImage  \
0  https://financialmodelingprep.com/image-stock/...  1980-12-12        False

   isEtf isActivelyTrading  isAdr isFund
0  False              True  False  False

[1 rows x 36 columns]
ratios
    symbol        date period  currentRatio  quickRatio  cashRatio  \
0     AAPL  2022-12-31     Q1      0.938020    0.768724   0.149578
1     AAPL  2022-09-24     Q4      0.879356    0.709408   0.153563
2     AAPL  2022-06-25     Q3      0.864629    0.696627   0.211761
3     AAPL  2022-03-26     Q2      0.926844    0.760039   0.220363
4     AAPL  2021-12-25     Q1      1.037812    0.875263   0.251528
..     ...         ...    ...           ...         ...        ...
147   AAPL  1986-03-31     Q2      0.000000    0.000000   0.000000
148   AAPL  1985-12-31     Q1      0.000000    0.000000   0.000000
149   AAPL  1985-09-30     Q2      0.536603    1.886256   1.140826
150   AAPL  1985-09-30     Q3      0.536603    1.886256   1.140826
151   AAPL  1985-09-30     Q4      2.783006    1.886256   1.140826

     daysOfSalesOutstanding  daysOfInventoryOutstanding  operatingCycle  \
0                168.800895                    9.185598       50.807736
1                246.712888                    8.551997       69.385312
2                185.854820                   10.387263       56.214478
3                170.346841                    8.980427       50.983758
4                192.160595                    7.587157       54.969221
..                      ...                         ...             ...
147                     NaN                    0.000000             NaN
148                     NaN                    0.000000             NaN
149              196.175250                    0.000000        0.000000
150              150.539427                    0.000000        0.000000
151              196.175250                    0.000000             NaN

     daysOfPayablesOutstanding  ...  priceToSalesRatio  priceEarningsRatio  \
0                    78.007542  ...          17.625873           17.208993
1                   110.859542  ...          26.750498           29.094281
2                    92.426180  ...          27.599691           29.441966
3                    86.649610  ...          29.238186           28.430950
4                    96.017044  ...          23.313027           20.860043
..                         ...  ...                ...                 ...
147                   0.000000  ...           3.367073            0.000000
148                   0.000000  ...           1.980216            0.000000
149                   0.000000  ...           0.000000            0.000000
150                   0.000000  ...         408.214512            0.000000
151                   0.000000  ...           1.847415            0.000000

     priceToFreeCashFlowsRatio  priceToOperatingCashFlowsRatio  \
0                    68.334817                       60.724643
1                   115.723695                       99.948206
2                   110.131928                      100.019343
3                   110.877604                      100.981051
4                    65.428823                       61.523934
..                         ...                             ...
147                   0.000000                        0.000000
148                   0.000000                        0.000000
149                   0.000000                        0.000000
150                   0.000000                        0.000000
151                   0.000000                        0.000000

     priceCashFlowRatio  priceEarningsToGrowthRatio  priceSalesRatio  \
0             60.724643                    0.369993        17.625873
1             99.948206                    3.879237        26.750498
2            100.019343                   -1.333548        27.599691
3            100.981051                   -1.052444        29.238186
4             61.523934                    0.303198        23.313027
..                  ...                         ...              ...
147            0.000000                    0.000000         3.367073
148            0.000000                    0.000000         1.980216
149            0.000000                    0.000000         0.000000
150            0.000000                  408.214512       408.214512
151            0.000000                    0.000000         1.847415

     dividendYield  enterpriseValueMultiple  priceFairValue
0         0.001825                54.512076       36.401387
1         0.001536                88.464262       47.589406
2         0.001664                89.576224       39.403906
3         0.001264                87.470292       42.199918
4         0.001292                66.660963       40.170343
..             ...                      ...             ...
147            NaN                      NaN        0.000000
148            NaN                      NaN        0.000000
149            NaN                 0.000000        0.000000
150            NaN                 0.000000      395.905046
151            NaN                -0.308445        1.374906

[152 rows x 57 columns]
metrics
    symbol        date period  revenuePerShare  netIncomePerShare  \
0     AAPL  2022-12-31     Q1         7.371550           1.887531
1     AAPL  2022-09-24     Q4         5.623447           1.292608
2     AAPL  2022-06-25     Q3         5.132666           1.202875
3     AAPL  2022-03-26     Q2         5.975747           1.536354
4     AAPL  2021-12-25     Q1         7.561438           2.112651
..     ...         ...    ...              ...                ...
147   AAPL  1986-03-31     Q2         0.029137           0.000000
148   AAPL  1985-12-31     Q1         0.038583           0.000000
149   AAPL  1985-09-30     Q2         0.000000           0.000000
150   AAPL  1985-09-30     Q3         0.038583           0.000000
151   AAPL  1985-09-30     Q4         0.029607           0.000000

     operatingCashFlowPerShare  freeCashFlowPerShare  cashPerShare  \
0                     2.139659              1.901373      3.231353
1                     1.505080              1.299907      3.013278
2                     1.416326              1.286275      2.984048
3                     1.730226              1.575792      3.164299
4                     2.865226              2.694225      3.899102
..                         ...                   ...           ...
147                        NaN                   NaN           NaN
148                        NaN                   NaN           NaN
149                   0.000000              0.000000      0.000000
150                        NaN                   NaN      0.024354
151                        NaN                   NaN      0.024354

     bookValuePerShare  tangibleBookValuePerShare  ...  averagePayables  \
0             3.569369                   3.569369  ...     6.101650e+10
1             3.160998                   3.160998  ...     5.622900e+10
2             3.595075                   3.595075  ...     5.051250e+10
3             4.140292                   4.140292  ...     6.352200e+10
4             4.388312                   4.388312  ...     6.456250e+10
..                 ...                        ...  ...              ...
147                NaN                        NaN  ...              NaN
148                NaN                        NaN  ...              NaN
149           0.000000                   0.000000  ...     0.000000e+00
150           0.039782                   0.067655  ...     0.000000e+00
151           0.039782                   0.039782  ...              NaN

     averageInventory  daysSalesOutstanding  daysPayablesOutstanding  \
0        5.883000e+09             41.622138                78.007542
1        5.189500e+09             60.833315               110.859542
2        5.446500e+09             45.827216                92.426180
3        5.668000e+09             42.003331                86.649610
4        6.228000e+09             47.382065                96.017044
..                ...                   ...                      ...
147               NaN                   NaN                 0.000000
148               NaN                   NaN                 0.000000
149      1.670000e+08            196.175250                 0.000000
150      1.670000e+08            150.539427                 0.000000
151               NaN             48.371979                 0.000000

     daysOfInventoryOnHand  receivablesTurnover  payablesTurnover  \
0                 9.185598             2.162311          1.153735
1                 8.551997             1.479453          0.811838
2                10.387263             1.963898          0.973750
3                 8.980427             2.142687          1.038666
4                 7.587157             1.899453          0.937334
..                     ...                  ...               ...
147               0.000000             0.000000          0.000000
148               0.000000             0.000000          0.000000
149             148.779595             1.860581          0.000000
150             114.169320             2.424614          0.000000
151               0.000000             1.860581          0.000000

     inventoryTurnover       roe  capexPerShare
0             9.797947  0.528813      -0.238285
1            10.523858  0.408924      -0.205173
2             8.664458  0.334590      -0.130051
3            10.021795  0.371074      -0.154434
4            11.862151  0.481427      -0.171001
..                 ...       ...            ...
147           0.000000  0.000000            NaN
148           0.000000  0.000000            NaN
149           2.453293  0.000000       0.000000
150           3.197006  0.000000            NaN
151           0.000000  0.000000            NaN

[152 rows x 60 columns]

is
           date symbol reportedCurrency         cik fillingDate  \
0    2022-12-31   AAPL              USD  0000320193  2023-02-03
1    2022-09-24   AAPL              USD  0000320193  2022-10-27
2    2022-06-25   AAPL              USD  0000320193  2022-07-28
3    2022-03-26   AAPL              USD  0000320193  2022-04-28
4    2021-12-25   AAPL              USD  0000320193  2022-01-28
..          ...    ...              ...         ...         ...
145  1986-09-30   AAPL              USD  0000320193  1986-09-30
146  1986-06-30   AAPL              USD  0000320193  1986-06-30
147  1986-03-31   AAPL              USD  0000320193  1986-03-31
148  1985-12-31   AAPL              USD  0000320193  1985-12-31
149  1985-09-30   AAPL              USD  0000320193  1985-09-30

            acceptedDate calendarYear period       revenue  costOfRevenue  \
0    2023-02-02 18:01:30         2023     Q1  117154000000    66822000000
1    2022-10-27 18:01:14         2022     Q4   90146000000    52051000000
2    2022-07-28 18:06:56         2022     Q3   82959000000    47074000000
3    2022-04-28 18:03:58         2022     Q2   97278000000    54719000000
4    2022-01-27 18:00:58         2022     Q1  123945000000    69702000000
..                   ...          ...    ...           ...            ...
145  1986-09-29 20:00:00         1986     Q4     510800000              0
146  1986-06-29 20:00:00         1986     Q3     448300000              0
147  1986-03-30 19:00:00         1986     Q2     408900000              0
148  1985-12-30 19:00:00         1986     Q1     533900000              0
149  1985-09-29 20:00:00         1985     Q4     409700000              0

     ...  incomeBeforeTaxRatio  incomeTaxExpense    netIncome  netIncomeRatio  \
0    ...              0.304070        5625000000  29998000000        0.256056
1    ...              0.273523        3936000000  20721000000        0.229860
2    ...              0.278041        3624000000  19442000000        0.234357
3    ...              0.309823        5129000000  25010000000        0.257098
4    ...              0.332736        6611000000  34630000000        0.279398
..   ...                   ...               ...          ...             ...
145  ...              0.000000                 0            0        0.000000
146  ...              0.000000                 0            0        0.000000
147  ...              0.000000                 0            0        0.000000
148  ...              0.000000                 0            0        0.000000
149  ...              0.000000                 0            0        0.000000

          eps  epsdiluted  weightedAverageShsOut  weightedAverageShsOutDil  \
0    1.890000    1.880000            15892723000               15955718000
1    1.290000    1.290000            16030382000               16118465000
2    1.200000    1.200000            16162945000               16262203000
3    1.540000    1.520000            16278802000               16403316000
4    2.110000    2.100000            16391724000               16519291000
..        ...         ...                    ...                       ...
145  0.000000    0.000000            14260064000               14260064000
146  0.002321    0.002321            14260064000               14260064000
147  0.002321    0.002321            14033600000               14033600000
148  0.004107    0.004107            13837824000               13837824000
149  0.000000    0.000000            13837824000               13837824000

                                                  link  \
0    https://www.sec.gov/Archives/edgar/data/320193...
1    https://www.sec.gov/Archives/edgar/data/320193...
2    https://www.sec.gov/Archives/edgar/data/320193...
3    https://www.sec.gov/Archives/edgar/data/320193...
4    https://www.sec.gov/Archives/edgar/data/320193...
..                                                 ...
145
146
147
148
149

                                             finalLink
0    https://www.sec.gov/Archives/edgar/data/320193...
1    https://www.sec.gov/Archives/edgar/data/320193...
2    https://www.sec.gov/Archives/edgar/data/320193...
3    https://www.sec.gov/Archives/edgar/data/320193...
4    https://www.sec.gov/Archives/edgar/data/320193...
..                                                 ...
145
146
147
148
149

[150 rows x 38 columns]

ValueError: Must pass 2-d input. shape=(1, 10653, 6)

In [9]:
pd.DataFrame(a.data_dictionary.get('info'))

,symbol,price,beta,volAvg,mktCap,lastDiv,range,changes,companyName,currency,...,zip,dcfDiff,dcf,image,ipoDate,defaultImage,isEtf,isActivelyTrading,isAdr,isFund
0,AAPL,152.99,1.297088,72077740,2420592446730,0.92,124.17-179.61,0.4,Apple Inc.,USD,...,95014,4.15176,150.082,https://financialmodelingprep.com/image-stock/...,1980-12-12,False,False,True,False,False